{
    "user": [
        {
            "login": "<логин пользователя в фигме>",
            "password": "<пароль пользователя>",
            "token": "<токен пользователя>",
            "downloadRecent": false,
            "teams": [
                {
                    "id": "<team 1 id>",
                    "name": "<название команды 1, в которой находятся проекты>"
                },
                {
                    "id": "<team 2 id>",
                    "name": "<название команды 2, в которой находятся проекты>"
                }
            ]
        }
    ],
    "hoursForPartialBackup": 48,
    "daysForAutoIncrementalBackup": 8,
    "delayFileDownloadSeconds": 300,
    "baseFolder": "<путь до папки, в которую будут сохраняться файлы>",
    "transporter": {
        "host": "smtp.gmail.com",
        "port": 465,
        "secure": true,
        "auth": {
            "user": "<почта, с которой будет отправляться отчет>",
            "pass": "<пароль от почты>"
        }
    },
    "receivers": ["<адрес получателя отчета 1>", "<адрес получателя отчета 2>"]
}
